<<<<<<< HEAD
.App {
    
=======
.App {}

.App-jumbo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.App-header {
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
>>>>>>> origin/master
}